/* Page Wrappers */
.productTitle {
  padding: 100px 60px;
  background: url("../assets/about.jpg") top;
  background-size: cover;
  color: white;
}

.cusOpinionBox {
  background: url("../assets/bg1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.bestSuccess,
.cusOpinionBox {
  padding: 100px 60px;
  font-size: 18px;
}

.leftPart li {
  margin-bottom: 15px;
}

.productBtn {
  padding: 16px 32px;
  margin: 16px 0px;
  border: none;
  font-weight: 600;
  color: white;
  background-color: #fdb03d;
  transition: background-color 0.3s ease-in;
}

.productBtn:hover {
  background-color: #292560;
}

.cusCard {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 5px;
}

.cusCardImg {
  border-radius: 50%;
}
