#productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
}

#card {
  width: 100%;
  padding: 10px;
  align-items: center;
}

#cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#add2Cart {
  width: 150px;
}

.carouselImg {
  height: 60vh;
  object-fit: cover;
}

.carCaption {
  position: absolute;
  top: 20px;
  left: 70px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: black;
}

.shopNow {
  display: inline-block;
  background-color: #fdb03d;
  padding: 16px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
