.homeWrapper {
  padding: 0px 50px;
}

#productContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px;
  z-index: 0;
}

#card {
  width: 100%;
  padding: 10px;
  align-items: center;
}

#cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#add2Cart {
  width: 150px;
}

.carouselImg {
  height: 60vh;
  object-fit: cover;
}

.carCaption {
  position: absolute;
  top: 20px;
  left: 60px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: black;
}

.shopNow {
  display: inline-block;
  background-color: #fdb03d;
  padding: 16px 30px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

/* #mainArea {
  padding: 50px 0px;
} */

#productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 20px;
}

.add2Cart,
.quickViewBtn {
  background-color: #292560;
  padding: 15px 30px;
  color: white;
  font-weight: 500;
}

.add2Cart:hover {
  background-color: #fdb03d;
  color: white;
}

.quickViewBtn {
  padding: 10px;
  position: absolute;
  top: -20%;
  left: 30%;
  right: 30%;
  transition: all 0.5s ease;
}

.cardImg:hover .quickViewBtn {
  top: -20% !important;
}

/* Pagination Css */
.containerPg {
  list-style: none;
  display: flex;
  margin: 0px;
}

.liTag,
.prevBtnLi,
.nextBtnLi {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.activeliTag {
  background-color: #5664d2;
  border-radius: 50%;
  color: white;
}

.activeAClass {
  color: white !important;
}

.aClass,
.prevBtnA,
.nextBtnA {
  text-decoration: none;
  color: black;
}

.disabledBtn,
.disabledLink {
  color: rgba(0, 0, 0, 0.2);
  pointer-events: none;
  cursor: default;
}

/* Filter section Css */
#filterSection {
  padding: 0px 24px;
  /* height: 100%; */
  background-color: #fafafa;
}

.filterContainer {
  padding: 24px 0px;
}

.MyAccordian {
  --bs-accordion-color: #505d69;
  --bs-accordion-bg: transparent;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border: none;
  --bs-accordion-border-width: 0px;
  --bs-accordion-border-radius: 0px;
  --bs-accordion-inner-border-radius: 0px;
  --bs-accordion-btn-padding-x: 0rem;
  --bs-accordion-btn-padding-y: 0rem;
  --bs-accordion-btn-color: black;
  --bs-accordion-btn-bg: transparent;
  --bs-accordion-btn-icon: url("../assets/icons8-plus.svg");
  --bs-accordion-btn-icon-width: 14px;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("../assets/Minus_icon.svg");
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 0px;
  --bs-accordion-body-padding-y: 0px;
  --bs-accordion-active-color: black;
  --bs-accordion-active-bg: transparent;
}

.myBody {
  margin-top: 20px;
}

.myBody > p {
  margin-bottom: 8px;
}

.priceSliderLabel {
  background-color: #5664d2 !important;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  padding: 2px 5px;
  font-weight: 500;
  position: absolute;
  top: -30px;
  left: -15px;
}
