.hiddenLinks {
  border: 1px solid transparent !important;
  margin: 0px 8px !important;
}
.hiddenLinks:hover {
  border-color: black !important;
}

#navBar {
  padding: 20px 50px;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
}

.bigYellow {
  font-size: 40px;
  color: #fdb03d;
  font-weight: bold;
}

.navbarIcons {
  font-size: 30px;
  margin: 10px 15px;
}

#lowerNavBar {
  position: sticky;
  top: 0px;
}

#navLinks > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
}

#locationWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

#selectLocationBox {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  position: relative;
}

.locationClose {
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.locationClose:hover {
  color: red;
}
