.container {
  padding: 0px 60px;
}

#navBar {
  padding: 20px 50px;
  background-color: #ffffff;
  color: black;
  display: flex;
  align-items: center;
}

.bigYellow {
  font-size: 40px;
  color: #fdb03d;
  font-weight: bold;
}

.navbarIcons {
  font-size: 30px;
  margin: 10px 15px;
}

#lowerNavBar {
  position: sticky;
  top: 0px;
  z-index: 9;
}

#navLinks {
  list-style: none;
}

#navLinks > li > a:hover {
  color: #fdb03d;
}

#navLinks > li > a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
}

#navLinks > li {
  height: 100%;
  display: flex;
  align-items: center;
}

#locationWrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 99;
  display: none;
}

#selectLocationBox {
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 10px;
  position: relative;
}

.locationClose {
  font-size: 40px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.locationClose:hover {
  color: red;
}

.userDropSym::after {
  display: none !important;
}

#userDropDown {
  transform: translate(-30%, calc(30% + 15px)) !important;
}

.ddOnHover {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.ddOnHoverTitle {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.ddOnHover:hover .ddOnHoverTitle {
  color: #fdb03d;
}

.ddOnHoverOuterBody {
  min-width: 600px;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 0px;
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 300ms ease;
}

.ddOnHover:hover .ddOnHoverOuterBody {
  grid-template-rows: 1fr;
}

.ddOnHoverBody {
  overflow: hidden;
  background-color: #ffffff;
  color: black;
}

.ddOnHoverBodyTitle {
  color: #fdb03d;
}

.ddOnHoverList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ddOnHoverList > li {
  margin-bottom: 16px;
}

.ddOnHoverList > li > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.ddOnHoverList > li > a:hover {
  color: #fdb03d;
}

/* Log in Modal Section css */
.logInModal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 550px;
  --bs-modal-padding: 1rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(
    var(--bs-border-radius-lg) - (var(--bs-border-width))
  );
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modelHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: bold;
  padding: var(--bs-modal-header-padding);
  padding-bottom: 0px;
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modelHead > button {
  font-size: 16px;
}

.modelBody {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

#logInForm {
  padding: 16px;
}

.LogInBtn {
  width: 100%;
  padding: 12px;
  background-color: #fdb03d;
  border: none !important;
  border-radius: 5px;
  color: white;
  font-size: 18px;
}

.LogInBtn:hover {
  background-color: #292560;
}

#remMeCheck:checked {
  background-color: #fdb03d;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.socFrame {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.locModal {
  --bs-modal-zindex: 1055;
  --bs-modal-width: 700px;
  --bs-modal-padding: 1rem 2rem;
  --bs-modal-margin: 0.5rem;
  --bs-modal-color: ;
  --bs-modal-bg: var(--bs-body-bg);
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-width: var(--bs-border-width);
  --bs-modal-border-radius: var(--bs-border-radius-lg);
  --bs-modal-box-shadow: var(--bs-box-shadow-sm);
  --bs-modal-inner-border-radius: calc(
    var(--bs-border-radius-lg) - (var(--bs-border-width))
  );
  --bs-modal-header-padding-x: 1rem;
  --bs-modal-header-padding-y: 1rem;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-header-border-width: var(--bs-border-width);
  --bs-modal-title-line-height: 1.5;
  --bs-modal-footer-gap: 0.5rem;
  --bs-modal-footer-bg: ;
  --bs-modal-footer-border-color: var(--bs-border-color);
  --bs-modal-footer-border-width: var(--bs-border-width);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-modal-zindex);
  display: none;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modelLocHead {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 25px;
  font-weight: bold;
  padding: var(--bs-modal-header-padding);
  padding-bottom: 0px;
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}

.modelLocHead > button {
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
}

.modelLocBody {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
}

/* Footer */

.ftList {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ftList > li {
  margin-bottom: 16px;
}

.ftList > li > a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.getTouchIcons {
  color: #ffffff;
  margin-right: 14px;
}

.footerLinks2 ul {
  list-style: none;
  padding: 0px;
}

.ftLinks2 {
  color: #707070;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.ftLinks2 li::after {
  content: "";
  border-right: 1px solid #707070;
  padding: 0px 5px;
  color: #707070;
}

.ftLinks2 li a {
  text-decoration: none;
  color: #707070;
}

.ftLinks2 li a:hover {
  color: #fdb03d;
}

.ftLinksPay {
  display: flex;
  gap: 5px;
}

.ftLinksPay li img {
  width: 55px;
  height: 35px;
}

.footerText {
  background-color: #060e1f;
  padding: 20px 0px;
}

.footerText p a {
  text-decoration: none;
  color: #ffffff;
}

.footerText p a:hover {
  text-decoration: underline;
  color: #fdb03d;
}
