#adminNav {
  width: 100%;
  height: 70px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 99;
}

#adminNav ul {
  list-style: none;
  margin-bottom: 0px;
}

#navLeft,
#navRight button,
#searchWrapper,
#userWrapper {
  display: flex;
  align-items: center;
}

#searchWrapper input {
  background-color: #f1f5f7;
  color: #505d69;
  border-radius: 25px;
  border: none;
  font-size: 16px;
  vertical-align: middle;
}

#navLeft {
  width: 18%;
  /* width: 5%; */
  background-color: #252b3b;
  padding: 0px 30px;
}

#navRight {
  display: flex;
  width: 82%;
  background-color: #ffffff;
  color: #505d69;
  justify-content: space-between;
  padding-right: 1rem;
}

#navRight button {
  height: 70px;
  font-size: 30px;
  text-align: center;
}

.userActionBtn {
  background-color: transparent;
  color: black;
}

#userPicNavbar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

#logo {
  height: 20px;
}

/* Notification Dropdown */

.notfDropDown {
  position: relative;
}

.notfDropMenu {
  --bs-dropdown-zindex: 1000;
  --bs-dropdown-min-width: 30rem;
  --bs-dropdown-padding-x: 0;
  --bs-dropdown-padding-y: 0.5rem;
  --bs-dropdown-spacer: 0.125rem;
  --bs-dropdown-font-size: 1rem;
  --bs-dropdown-color: var(--bs-body-color);
  --bs-dropdown-bg: var(--bs-body-bg);
  --bs-dropdown-border-color: var(--bs-border-color-translucent);
  --bs-dropdown-border-radius: 10px;
  --bs-dropdown-border-width: var(--bs-border-width);
  --bs-dropdown-inner-border-radius: calc(
    var(--bs-border-radius) - var(--bs-border-width)
  );
  --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
  --bs-dropdown-divider-margin-y: 0.5rem;
  --bs-dropdown-box-shadow: var(--bs-box-shadow);
  --bs-dropdown-link-color: var(--bs-body-color);
  --bs-dropdown-link-hover-color: var(--bs-body-color);
  --bs-dropdown-link-hover-bg: #6c757d;
  --bs-dropdown-link-active-color: #fff;
  --bs-dropdown-link-active-bg: #0d6efd;
  --bs-dropdown-link-disabled-color: var(--bs-tertiary-color);
  --bs-dropdown-item-padding-x: 1rem;
  --bs-dropdown-item-padding-y: 0.25rem;
  --bs-dropdown-header-color: #6c757d;
  --bs-dropdown-header-padding-x: 1rem;
  --bs-dropdown-header-padding-y: 0.5rem;
  position: absolute;
  z-index: var(--bs-dropdown-zindex);
  display: none;
  min-width: var(--bs-dropdown-min-width);
  max-height: 320px;
  overflow-y: auto;
  padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
  margin: 0;
  font-size: var(--bs-dropdown-font-size);
  color: var(--bs-dropdown-color);
  text-align: left;
  list-style: none;
  background-color: var(--bs-dropdown-bg);
  background-clip: padding-box;
  border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
  border-radius: var(--bs-dropdown-border-radius);
}

.notfDropMenu::-webkit-scrollbar {
  width: 6px;
}

.notfDropMenu::-webkit-scrollbar-track {
  background: white;
}

.notfDropMenu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.notfDropItem {
  display: block;
  width: 100%;
  padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--bs-dropdown-link-color);
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  border-radius: var(--bs-dropdown-item-border-radius, 0);
}

.notfDropToggle {
  color: #505d69;
  border: none;
  position: relative;
}

.notfDropItem:hover {
  color: black;
  background-color: #f8f9fa !important;
}

.notfDropToggle::after {
  display: none;
}

.notfBadge {
  font-size: 10px;
  position: absolute !important;
  top: 14px !important;
  left: 50%;
}
